@model IEnumerable<AUTOCAD.Models.Komentarz>

<h2>Komentarze</h2>

<ul>
    @foreach (var komentarz in Model)
    {
        <li>
          @*   <strong>@komentarz.User.Imie @komentarz.User.Nazwisko:</strong> *@ @komentarz.Tresc
            <br />
            <small>@komentarz.DataDodania.ToString("yyyy-MM-dd HH:mm")</small>
        </li>
    }
</ul>

<form asp-action="AddKomentarz" method="post">
    <textarea name="Tresc" placeholder="Dodaj komentarz" required></textarea>
    <button type="submit">Dodaj</button>
</form>
