html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* Ustaw przewijanie pionowe na auto */
    font-family: 'Roboto', sans-serif; /* Ustaw trzcionkê na Roboto */
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f2f2f2;
    color: white;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

.content {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}
