@model IEnumerable<AUTOCAD.Models.ApplicationUser>

<h2>Wybierz użytkownika do czatu</h2>

<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item">
            <a asp-action="GetMessages" asp-route-receiverId="@user.Id">
                @user.Imie @user.Nazwisko
            </a>
        </li>
    }
</ul>
